@import "./reset";

$inputWidth : 400px;

body{
  background: rgb(197, 197, 197);
  padding: 30px 0px 30px 0px;
  font-family: Arial, Helvetica, sans-serif;
}


#wrapper{
    display: flex;
    flex-direction: row;
    align-items: center;
    max-width: 100%;
    label.autocomplete-label{
      width: 80px;
    }
  .wrapper__block{
    p{
      width: 65px;
      text-align: center;
    }
    input#input-weight{
      width: 50px;
    }
    p#output-calories{
      display: block;
      width: 90px ;
      height: 30px;
    }
  }
  
}

.container{
  height: 100%;
  padding: 30px 0px 30px 0px;
  width: 100%;
  max-width: 700px;
  padding: 0px 20px 0px 20px;
  // background: #303030;
  margin: 0 auto;
  overflow: hidden;
}


.autocomplete__notice{
  display: none;
} 
.autocomplete__input{
  height: 30px;
  padding: 5px 10px 5px 20px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border: none;
  border: 1px black solid;
  width: $inputWidth;
}
ul.autocomplete__results{
  position: absolute;
  height: 300px;
  overflow: auto;
  top: 30px;
  left: 80px;
  display: none;
  transition: all 0.3s ease 0s;
  padding: 5px 10px 5px 20px;
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
  width: $inputWidth;
  max-width: $inputWidth;
  background: rgb(221, 221, 221);
}
ul.autocomplete__results--is-visible{
  display: block;
}
li.autocomplete__result{
  cursor: pointer ;
  border-bottom: 1px black solid;
  padding: 3px 0px 3px 0px;
}
li.autocomplete__result--is-selected {
  background: rgb(178, 241, 162);
}